<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bid.springcloud.mapper.CoDeviceMediaMapper" >

    <resultMap id="BaseResultMap" type="com.bid.springcloud.entities.CoDeviceMedia" >
        <id column="media_id" property="mediaId" jdbcType="VARCHAR" />
        <result column="detail_id" property="detailId" jdbcType="VARCHAR" />
        <result column="media_type" property="mediaType" jdbcType="VARCHAR" />
        <result column="college_id" property="collegeId" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        media_id, detail_id, media_type, college_id, remark
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bid.springcloud.entities.CoDeviceMediaExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from co_device_media
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from co_device_media
        where media_id = #{mediaId,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from co_device_media
        where media_id = #{mediaId,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByExample" parameterType="com.bid.springcloud.entities.CoDeviceMediaExample" >
        delete from co_device_media
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.bid.springcloud.entities.CoDeviceMedia" >
        insert into co_device_media (media_id, detail_id, media_type, 
            college_id, remark)
        values (#{mediaId,jdbcType=VARCHAR}, #{detailId,jdbcType=VARCHAR}, #{mediaType,jdbcType=VARCHAR}, 
            #{collegeId,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.bid.springcloud.entities.CoDeviceMedia" >
        insert into co_device_media
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="mediaId != null" >
                media_id,
            </if>
            <if test="detailId != null" >
                detail_id,
            </if>
            <if test="mediaType != null" >
                media_type,
            </if>
            <if test="collegeId != null" >
                college_id,
            </if>
            <if test="remark != null" >
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="mediaId != null" >
                #{mediaId,jdbcType=VARCHAR},
            </if>
            <if test="detailId != null" >
                #{detailId,jdbcType=VARCHAR},
            </if>
            <if test="mediaType != null" >
                #{mediaType,jdbcType=VARCHAR},
            </if>
            <if test="collegeId != null" >
                #{collegeId,jdbcType=VARCHAR},
            </if>
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.bid.springcloud.entities.CoDeviceMediaExample" resultType="java.lang.Integer" >
        select count(*) from co_device_media
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update co_device_media
        <set >
            <if test="record.mediaId != null" >
                media_id = #{record.mediaId,jdbcType=VARCHAR},
            </if>
            <if test="record.detailId != null" >
                detail_id = #{record.detailId,jdbcType=VARCHAR},
            </if>
            <if test="record.mediaType != null" >
                media_type = #{record.mediaType,jdbcType=VARCHAR},
            </if>
            <if test="record.collegeId != null" >
                college_id = #{record.collegeId,jdbcType=VARCHAR},
            </if>
            <if test="record.remark != null" >
                remark = #{record.remark,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update co_device_media
        set media_id = #{record.mediaId,jdbcType=VARCHAR},
            detail_id = #{record.detailId,jdbcType=VARCHAR},
            media_type = #{record.mediaType,jdbcType=VARCHAR},
            college_id = #{record.collegeId,jdbcType=VARCHAR},
            remark = #{record.remark,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.bid.springcloud.entities.CoDeviceMedia" >
        update co_device_media
        <set >
            <if test="detailId != null" >
                detail_id = #{detailId,jdbcType=VARCHAR},
            </if>
            <if test="mediaType != null" >
                media_type = #{mediaType,jdbcType=VARCHAR},
            </if>
            <if test="collegeId != null" >
                college_id = #{collegeId,jdbcType=VARCHAR},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where media_id = #{mediaId,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.bid.springcloud.entities.CoDeviceMedia" >
        update co_device_media
        set detail_id = #{detailId,jdbcType=VARCHAR},
            media_type = #{mediaType,jdbcType=VARCHAR},
            college_id = #{collegeId,jdbcType=VARCHAR},
            remark = #{remark,jdbcType=VARCHAR}
        where media_id = #{mediaId,jdbcType=VARCHAR}
    </update>
</mapper>