<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bid.springcloud.mapper.CpUserMapper" >

    <resultMap id="BaseResultMap" type="com.bid.springcloud.entities.CpUser" >
        <id column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="company_id" property="companyId" jdbcType="INTEGER" />
        <result column="user_pass" property="userPass" jdbcType="VARCHAR" />
        <result column="real_name" property="realName" jdbcType="VARCHAR" />
        <result column="user_type" property="userType" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="is_dx_center" property="isDxCenter" jdbcType="VARCHAR" />
        <result column="is_dx_college" property="isDxCollege" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        user_id, company_id, user_pass, real_name, user_type, status, is_dx_center, is_dx_college
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bid.springcloud.entities.CpUserExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from cp_user
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from cp_user
        where user_id = #{userId,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from cp_user
        where user_id = #{userId,jdbcType=INTEGER}
    </delete>

    <delete id="deleteByExample" parameterType="com.bid.springcloud.entities.CpUserExample" >
        delete from cp_user
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.bid.springcloud.entities.CpUser" >
        insert into cp_user (user_id, company_id, user_pass, 
            real_name, user_type, status, 
            is_dx_center, is_dx_college)
        values (#{userId,jdbcType=INTEGER}, #{companyId,jdbcType=INTEGER}, #{userPass,jdbcType=VARCHAR}, 
            #{realName,jdbcType=VARCHAR}, #{userType,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
            #{isDxCenter,jdbcType=VARCHAR}, #{isDxCollege,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.bid.springcloud.entities.CpUser" >
        insert into cp_user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="userId != null" >
                user_id,
            </if>
            <if test="companyId != null" >
                company_id,
            </if>
            <if test="userPass != null" >
                user_pass,
            </if>
            <if test="realName != null" >
                real_name,
            </if>
            <if test="userType != null" >
                user_type,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="isDxCenter != null" >
                is_dx_center,
            </if>
            <if test="isDxCollege != null" >
                is_dx_college,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="userId != null" >
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="companyId != null" >
                #{companyId,jdbcType=INTEGER},
            </if>
            <if test="userPass != null" >
                #{userPass,jdbcType=VARCHAR},
            </if>
            <if test="realName != null" >
                #{realName,jdbcType=VARCHAR},
            </if>
            <if test="userType != null" >
                #{userType,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="isDxCenter != null" >
                #{isDxCenter,jdbcType=VARCHAR},
            </if>
            <if test="isDxCollege != null" >
                #{isDxCollege,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.bid.springcloud.entities.CpUserExample" resultType="java.lang.Integer" >
        select count(*) from cp_user
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update cp_user
        <set >
            <if test="record.userId != null" >
                user_id = #{record.userId,jdbcType=INTEGER},
            </if>
            <if test="record.companyId != null" >
                company_id = #{record.companyId,jdbcType=INTEGER},
            </if>
            <if test="record.userPass != null" >
                user_pass = #{record.userPass,jdbcType=VARCHAR},
            </if>
            <if test="record.realName != null" >
                real_name = #{record.realName,jdbcType=VARCHAR},
            </if>
            <if test="record.userType != null" >
                user_type = #{record.userType,jdbcType=VARCHAR},
            </if>
            <if test="record.status != null" >
                status = #{record.status,jdbcType=VARCHAR},
            </if>
            <if test="record.isDxCenter != null" >
                is_dx_center = #{record.isDxCenter,jdbcType=VARCHAR},
            </if>
            <if test="record.isDxCollege != null" >
                is_dx_college = #{record.isDxCollege,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update cp_user
        set user_id = #{record.userId,jdbcType=INTEGER},
            company_id = #{record.companyId,jdbcType=INTEGER},
            user_pass = #{record.userPass,jdbcType=VARCHAR},
            real_name = #{record.realName,jdbcType=VARCHAR},
            user_type = #{record.userType,jdbcType=VARCHAR},
            status = #{record.status,jdbcType=VARCHAR},
            is_dx_center = #{record.isDxCenter,jdbcType=VARCHAR},
            is_dx_college = #{record.isDxCollege,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.bid.springcloud.entities.CpUser" >
        update cp_user
        <set >
            <if test="companyId != null" >
                company_id = #{companyId,jdbcType=INTEGER},
            </if>
            <if test="userPass != null" >
                user_pass = #{userPass,jdbcType=VARCHAR},
            </if>
            <if test="realName != null" >
                real_name = #{realName,jdbcType=VARCHAR},
            </if>
            <if test="userType != null" >
                user_type = #{userType,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="isDxCenter != null" >
                is_dx_center = #{isDxCenter,jdbcType=VARCHAR},
            </if>
            <if test="isDxCollege != null" >
                is_dx_college = #{isDxCollege,jdbcType=VARCHAR},
            </if>
        </set>
        where user_id = #{userId,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.bid.springcloud.entities.CpUser" >
        update cp_user
        set company_id = #{companyId,jdbcType=INTEGER},
            user_pass = #{userPass,jdbcType=VARCHAR},
            real_name = #{realName,jdbcType=VARCHAR},
            user_type = #{userType,jdbcType=VARCHAR},
            status = #{status,jdbcType=VARCHAR},
            is_dx_center = #{isDxCenter,jdbcType=VARCHAR},
            is_dx_college = #{isDxCollege,jdbcType=VARCHAR}
        where user_id = #{userId,jdbcType=INTEGER}
    </update>
</mapper>