<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bid.springcloud.mapper.PtProcessParamMapper" >

    <resultMap id="BaseResultMap" type="com.bid.springcloud.entities.PtProcessParam" >
        <id column="process_id" property="processId" jdbcType="VARCHAR" />
        <result column="process_value" property="processValue" jdbcType="VARCHAR" />
        <result column="process_name" property="processName" jdbcType="VARCHAR" />
        <result column="process_ordernum" property="processOrdernum" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List" >
        process_id, process_value, process_name, process_ordernum, remark
    </sql>

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bid.springcloud.entities.PtProcessParamExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from pt_process_param
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select 
        <include refid="Base_Column_List" />
        from pt_process_param
        where process_id = #{processId,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from pt_process_param
        where process_id = #{processId,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByExample" parameterType="com.bid.springcloud.entities.PtProcessParamExample" >
        delete from pt_process_param
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>

    <insert id="insert" parameterType="com.bid.springcloud.entities.PtProcessParam" >
        insert into pt_process_param (process_id, process_value, process_name, 
            process_ordernum, remark)
        values (#{processId,jdbcType=VARCHAR}, #{processValue,jdbcType=VARCHAR}, #{processName,jdbcType=VARCHAR}, 
            #{processOrdernum,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.bid.springcloud.entities.PtProcessParam" >
        insert into pt_process_param
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="processId != null" >
                process_id,
            </if>
            <if test="processValue != null" >
                process_value,
            </if>
            <if test="processName != null" >
                process_name,
            </if>
            <if test="processOrdernum != null" >
                process_ordernum,
            </if>
            <if test="remark != null" >
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="processId != null" >
                #{processId,jdbcType=VARCHAR},
            </if>
            <if test="processValue != null" >
                #{processValue,jdbcType=VARCHAR},
            </if>
            <if test="processName != null" >
                #{processName,jdbcType=VARCHAR},
            </if>
            <if test="processOrdernum != null" >
                #{processOrdernum,jdbcType=VARCHAR},
            </if>
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="countByExample" parameterType="com.bid.springcloud.entities.PtProcessParamExample" resultType="java.lang.Integer" >
        select count(*) from pt_process_param
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <update id="updateByExampleSelective" parameterType="map" >
        update pt_process_param
        <set >
            <if test="record.processId != null" >
                process_id = #{record.processId,jdbcType=VARCHAR},
            </if>
            <if test="record.processValue != null" >
                process_value = #{record.processValue,jdbcType=VARCHAR},
            </if>
            <if test="record.processName != null" >
                process_name = #{record.processName,jdbcType=VARCHAR},
            </if>
            <if test="record.processOrdernum != null" >
                process_ordernum = #{record.processOrdernum,jdbcType=VARCHAR},
            </if>
            <if test="record.remark != null" >
                remark = #{record.remark,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByExample" parameterType="map" >
        update pt_process_param
        set process_id = #{record.processId,jdbcType=VARCHAR},
            process_value = #{record.processValue,jdbcType=VARCHAR},
            process_name = #{record.processName,jdbcType=VARCHAR},
            process_ordernum = #{record.processOrdernum,jdbcType=VARCHAR},
            remark = #{record.remark,jdbcType=VARCHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.bid.springcloud.entities.PtProcessParam" >
        update pt_process_param
        <set >
            <if test="processValue != null" >
                process_value = #{processValue,jdbcType=VARCHAR},
            </if>
            <if test="processName != null" >
                process_name = #{processName,jdbcType=VARCHAR},
            </if>
            <if test="processOrdernum != null" >
                process_ordernum = #{processOrdernum,jdbcType=VARCHAR},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where process_id = #{processId,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.bid.springcloud.entities.PtProcessParam" >
        update pt_process_param
        set process_value = #{processValue,jdbcType=VARCHAR},
            process_name = #{processName,jdbcType=VARCHAR},
            process_ordernum = #{processOrdernum,jdbcType=VARCHAR},
            remark = #{remark,jdbcType=VARCHAR}
        where process_id = #{processId,jdbcType=VARCHAR}
    </update>
</mapper>